<div>
  <label class="block text-sm font-medium text-gray-800 mb-2">
    {{ label }} 
    @if(required){
      <span class="text-red-500">*</span>

    }  
  </label>

  <input
     matInput
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    class="w-full h-9 px-3 rounded-md border border-gray-300 bg-white outline-none text-sm text-gray-800 focus:ring-2 focus:ring-blue-400"
  />

  <!-- ERROR -->
  @if (control.touched && control.invalid) {
    <p class="text-red-500 text-xs mt-1">

      @if (control.errors?.['required']) {
        <span>{{ label }} is required</span>
      }

      @if (control.errors?.['email']) {
        <span>Invalid email</span>
      }

    </p>
  }
</div>